.jumbotron {
  color: #0f2540;
  text-align: unset;
  padding-top: 10% ;
  padding-bottom: 15%;
  margin-top: 50px;
  background-image: url("/IMG/2508.jpg");
  background-size: cover;
  background-size: 100% 100%;
}
footer {
  background-color: #0f2540;
  padding: 10px 10px 0 10px;
  color: white;
}
.card-hotel {
  flex: 250px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
  padding-right: 10px;
}
.footer-link {
  color: white;
}
.tab-content {
  padding-top: 10px;
}
.carousel-item {
  height: 400px;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 10px;
  font-size: 25px;
  -webkit-text-stroke: 2px black;
  color: white;
}
